*{
    font-family: sans-serif;
    padding: 0;
    margin: 0;
}
body{
    background: linear-gradient(#111,#222);
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;overflow: hidden;



}
body::after{
    content: "";
    width: 100%;
    height: 100%;
    position: absolute;
    background-color: red;
clip-path: circle(40% at right 70%);
z-index: -1;
}
.container{
    background: rgb(255, 255, 255,0.1);

    width: 80%;
    height: 80%;
border-radius: 20px;
overflow: hidden;
}
nav{
display: flex;
justify-content: space-between;
align-items: center;
width: 80%;
margin: auto;
padding: 6px 0;
}
nav .logo{
    font-size: 32px;
    color: #fff;
    text-decoration: none;
    text-transform: uppercase;
    font-weight: 700;
    letter-spacing: 2px;
}
nav ul li{
display: inline-block;
margin: 0 6px;

}
nav ul li a{
    text-decoration: none;
    color: #fff;
    font-size: 18px;
    font-weight: 500;
}
nav ul li a:hover{
    background-color: red;
}
.content{
display: flex;
justify-content: space-between;
align-items: center;
height: 100%;
width: 80%;
margin: auto;

}
.content .text{
    color: #fff;
    width: 40%;
}
.content .text h2{
    font-size: 40px;
    text-transform: uppercase;
    letter-spacing: 2px;
    font-weight: 700;
}
.content .text p {
    font-size: 18px;
    line-height: 25px;
    margin: 10px 0;
    letter-spacing: 1px;
}
.content .imge{
    width: 40%;
}
.content .imge img{
    width: 400px;
}
@media(min-width:950px) and (max-width:1150px){
    .content .imge img{
        width: 300px;
    }
}
@media(max-width:950px){
    .content,nav{
        flex-direction: column;
        justify-content: center;
        }
        .content .imge,.content .text{
            width:112%;
        }
    body::after{
        clip-path: circle(50% at bottom);
    }
    .content .imge img{
    width:270px;


}
}
